@model Saga.ViewComponentShared.ViewModels.BasicFormFilterViewModel

<div class="row">
    <div class="col-md-4">
        <div class="form-group" style="margin-bottom: 5px;">
            <label for="Employees" class="col-sm-4 control-label" style="text-align: left;">Employee</label>
            <div class="col-sm-8">
                <select class="form-control input-sm" id="slc-employee" style="width: 100%;" name="EmployeeSelected">
                    @foreach (var item in Model.Employees)
                    {
                        <option value="@item.Value" selected="@(item.Value == Model.EmployeeSelected.ToString())">@item.Text</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group" style="margin-bottom: 5px;">
            <label for="Company" class="col-sm-4 control-label" style="text-align: left;">Company</label>
            <div class="col-sm-8">
                <select class="form-control input-sm" id="slc-company" style="width: 100%;" name="CompanySelected">
                    @foreach (var item in Model.Companies)
                    {
                        <option value="@item.Value" selected="@(item.Value == Model.CompanySelected.ToString())">@item.Text</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group" style="margin-bottom: 5px;">
            <label for="Organization" class="col-sm-4 control-label" style="text-align: left;">Organization</label>
            <div class="col-sm-8">
                <select class="form-control input-sm" id="slc-organization" style="width: 100%;" name="OrganizationSelected">
                    @foreach (var item in Model.Organizations)
                    {
                        <option value="@item.Value" selected="@(item.Value == Model.OrganizationSelected.ToString())">@item.Text</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group" style="margin-bottom: 5px;">
            <label for="Position" class="col-sm-4 control-label" style="text-align: left;">Position</label>
            <div class="col-sm-8">
                <select class="form-control input-sm" id="slc-position" style="width: 100%;" name="PositionSelected">
                    @foreach (var item in Model.Positions)
                    {
                        <option value="@item.Value" selected="@(item.Value == Model.PositionSelected.ToString())">@item.Text</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group" style="margin-bottom: 5px;">
            <label for="Title" class="col-sm-4 control-label" style="text-align: left;">Title</label>
            <div class="col-sm-8">
                <select class="form-control input-sm" id="slc-title" style="width: 100%;" name="TitleSelected">
                    @foreach (var item in Model.Titles)
                    {
                        <option value="@item.Value" selected="@(item.Value == Model.TitleSelected.ToString())">@item.Text</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>
